<!DOCTYPE html>
{% load static %}

<html lang="es">

	<head>
		{% include 'base-head.html' %}
	</head>



	<body>
		<div class="col-md-6 col-md-offset-3">
			<div class="row">
				<div class="alert alert-info">
					<strong>{{ user }}:</strong> Quieres confirmar la inscripcion para realizar el laboratorio de <strong>{{ laboratorio }}</strong> el día <strong>{{ fecha }}</strong> a las <strong>{{ hora }}</strong> horas.
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
				</div>
				<form method="POST">{% csrf_token %}
				<div class="col-md-2">
					<button type="submit" class="btn btn-danger" name="opcion" value="no">Cancelar</button>
				</div>
				<div class="col-md-2">
					<button type="submit" class="btn btn-success" name="opcion" value="si">Confirmar inscripcion</button>
				</div>
				</form>
				<div class="col-md-4">
				</div>
			</div>
		</div>
	</body>

</html>