{% load user_tags %}

    <!-- Static navbar -->
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'home' %}">FísicaWeb</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">


            <li><a href="#">Archivos</a></li>
            <li><a href="{% url 'informacion:lista_publicaciones' %}">Post</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Academico<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="{% url 'catedras:profesores' %}">Docentes</a></li>
                <li><a href="{% url 'catedras:comisiones' %}">Comisiones</a></li>
                {# <li><a href="#">Something else here</a></li> #}
                {# <li role="separator" class="divider"></li> #}
                {# <li class="dropdown-header">Nav header</li> #}
                {# <li><a href="#">Separated link</a></li> #}
                {# <li><a href="#">One more separated link</a></li> #}
              </ul>
            </li>

          </ul>
          <ul class="nav navbar-nav navbar-right">

            {% if request.user.is_authenticated %}
              {% if request.user|has_group:"alumno"%}
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> Alumno <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="{% url 'catedras:materias' %}">Inscribirse</a></li>
                    <li><a href="{% url 'laboratorio:mis_laboratorios' %}">Mis laboratorios</a></li>
                  </ul>
                </li>
              {% endif %}
              {% if request.user|has_group:"laboratorista"%}
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> Administrar <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="{% url 'catedras:materias' %}">Laboratorios</a></li>
                    <li><a href="{% url 'usuario:administrar_alumnos' %}">Alumno</a></li>
                  </ul>
                </li>
              {% endif %}
              {% if request.user|has_group:"docente"%}
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> docente <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="{% url 'catedras:materias' %}">Inscribirse</a></li>
                    <li><a href="{% url 'laboratorio:mis_laboratorios' %}">Mis laboratorios</a></li>
                  </ul>
                </li>
              {% endif %}
                <li>
                  <a href="{% url 'usuario:logout' %}">Desconectarse</a>
                </li>
            {% else %}
              <li><a href="{% url 'usuario:login' %}">Ingresar</a></li>
            {% endif %}

          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>